src/flows.json
[
    {
        "id": "46d89e37962bb909",
        "type": "tab",
        "label": "flow-vitor-hovercraft",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "710ab050268d6971",
        "type": "ui_slider",
        "z": "46d89e37962bb909",
        "name": "",
        "label": "control-left",
        "tooltip": "",
        "group": "2034f698e18834c6",
        "order": 0,
        "width": "2",
        "height": "6",
        "passthru": true,
        "outs": "all",
        "topic": "motor_direction/left",
        "topicType": "msg",
        "min": "0",
        "max": "1023",
        "step": 1,
        "className": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "71118081558b0b60",
                "1e789a0a345b8762"
            ]
        ]
    },
    {
        "id": "71118081558b0b60",
        "type": "mqtt out",
        "z": "46d89e37962bb909",
        "name": "",
        "topic": "motor_direction/left",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e31933b57a14d7cb",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "1e789a0a345b8762",
        "type": "ui_template",
        "z": "46d89e37962bb909",
        "group": "2034f698e18834c6",
        "name": "",
        "order": 1,
        "width": "1",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f9b22783a4d1f144",
        "type": "ui_switch",
        "z": "46d89e37962bb909",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "2034f698e18834c6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "motor_base/power",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "2d5f444a5fd27c19"
            ]
        ]
    },
    {
        "id": "2d5f444a5fd27c19",
        "type": "mqtt out",
        "z": "46d89e37962bb909",
        "name": "",
        "topic": "motor_base/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e31933b57a14d7cb",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "05b282bfd2b42380",
        "type": "ui_slider",
        "z": "46d89e37962bb909",
        "name": "",
        "label": "control-right",
        "tooltip": "",
        "group": "2034f698e18834c6",
        "order": 0,
        "width": "2",
        "height": "6",
        "passthru": true,
        "outs": "all",
        "topic": "motor_direction/right",
        "topicType": "msg",
        "min": "0",
        "max": "1023",
        "step": 1,
        "className": "",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "848be9ce6c26cfd8",
                "81f1d6469d8c74ce"
            ]
        ]
    },
    {
        "id": "848be9ce6c26cfd8",
        "type": "mqtt out",
        "z": "46d89e37962bb909",
        "name": "",
        "topic": "motor_direction/right",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e31933b57a14d7cb",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "81f1d6469d8c74ce",
        "type": "ui_template",
        "z": "46d89e37962bb909",
        "group": "2034f698e18834c6",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2034f698e18834c6",
        "type": "ui_group",
        "name": "vitor-hovercraft",
        "tab": "873f82b651311240",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e31933b57a14d7cb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "873f82b651311240",
        "type": "ui_tab",
        "name": "vitor-hovercraft",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
